#birthday-cake {
    margin: 0 auto;
    padding: 25px;
    white-space: nowrap;
}

#cake-flame {
    position: relative;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    z-index: 10;

    animation: flicker 1.2s;
        -moz-animation: flicker 1.2s;
        -webkit-animation: flicker 1.2s;
        -o-animation: flicker 1.2s;

    animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;

    animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;

    animation-direction: alternate;
        -moz-animation-direction: alternate;
        -webkit-animation-direction: alternate;
        -o-animation-direction: alternate;
}

@keyframes flicker {
    0%      { left: 0; }
    25%     { left: 1px; }
    75%     { left: -1px; }
    100%    { left: 0; }
}

@-moz-keyframes flicker {
    0%      { left: 0; }
    25%     { left: 1px; }
    75%     { left: -1px; }
    100%    { left: 0; }
}

@-webkit-keyframes flicker {
    0%      { left: 0; }
    25%     { left: 1px; }
    75%     { left: -1px; }
    100%    { left: 0; }
}

@-o-keyframes flicker {
    0%      { left: 0; }
    25%     { left: 1px; }
    75%     { left: -1px; }
    100%    { left: 0; }
}

#cake-inner-flame {
    position: absolute;
    height: 20px;
    width: 10px;
    bottom: 0;
    left: 20px;
    background: #e59900;
    border-radius: 10px / 20px;
        -moz-border-radius: 10px / 20px;
        -webkit-border-radius: 10px / 20px;
    z-index: 1;

    animation: inner-flame 2s;
        -moz-animation: inner-flame 2s;
        -webkit-animation: inner-flame 2s;
        -o-animation: inner-flame 2s;

    animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;

    animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
}

@keyframes inner-flame {
    0%    { background: #e59900;
            border-radius: 10px / 20px; }
    50%   { background: #efae00;
            border-radius: 10px / 17px; }
    100%  { background: #e59900;
            border-radius: 10px / 20px; }
}

@-moz-keyframes inner-flame {
    0%    { background: #e59900;
            border-radius: 10px / 20px; }
    50%   { background: #efae00;
            border-radius: 10px / 17px; }
    100%  { background: #e59900;
            border-radius: 10px / 20px; }
}

@-webkit-keyframes inner-flame {
    0%    { background: #e59900;
            border-radius: 10px / 20px; }
    50%   { background: #efae00;
            border-radius: 10px / 17px; }
    100%  { background: #e59900;
            border-radius: 10px / 20px; }
}

@-o-keyframes inner-flame {
    0%    { background: #e59900;
            border-radius: 10px / 20px; }
    50%   { background: #efae00;
            border-radius: 10px / 17px; }
    100%  { background: #e59900;
            border-radius: 10px / 20px; }
}

#cake-outer-flame {
    position: absolute;
    left: 15px;
}

#cake-tri {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 9px solid red;
    border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;

    animation: flame-tip 1.2s;
        -moz-animation: flame-tip 1.2s;
        -webkit-animation: flame-tip 1.2s;
        -o-animation: flame-tip 1.2s;

    animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
}

@keyframes flame-tip {
    0%  {   border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
    25% {   border-left: 9px solid transparent;
            border-right: 11px solid transparent; }
    75% {   border-left: 11px solid transparent;
            border-right: 9px solid transparent; }
    100% {  border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
}

@-moz-keyframes flame-tip {
    0%  {   border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
    25% {   border-left: 9px solid transparent;
            border-right: 11px solid transparent; }
    75% {   border-left: 11px solid transparent;
            border-right: 9px solid transparent; }
    100% {  border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
}

@-webkit-keyframes flame-tip {
    0%  {   border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
    25% {   border-left: 9px solid transparent;
            border-right: 11px solid transparent; }
    75% {   border-left: 11px solid transparent;
            border-right: 9px solid transparent; }
    100% {  border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
}

@-o-keyframes flame-tip {
    0%  {   border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
    25% {   border-left: 9px solid transparent;
            border-right: 11px solid transparent; }
    75% {   border-left: 11px solid transparent;
            border-right: 9px solid transparent; }
    100% {  border-left: 10px solid transparent;
            border-right: 10px solid transparent; }
}

#cake-rect {
    position: absolute;
    width: 20px;
    height: 25px;
    top: 5px;
    background: red;
    border-radius: 8px 8px 10px 10px;
        -moz-border-radius: 8px 8px 10px 10px;
        -webkit-border-radius: 8px 8px 10px 10px;
}

#cake-wick {
    position: relative;
    margin: 0 auto;
    width: 3px;
    height: 7px;
    top: -1px;
    background: black;
    z-index: 9;
}

#cake-candle {
    position: relative;
    margin: 0 auto;
    width: 20px;
    height: 50px;
    top: -5px;
    z-index: 8;
}

#cake-candle-top {
    position: absolute;
    top: 0;
    width: 18px;
    height: 10px;
    border-radius: 18px / 10px;
        -moz-border-radius: 18px / 10px;
        -webkit-border-radius: 18px / 10px;
    border-style: solid;
    border-color: #faa #faa #f88 #faa;
    border-width: 1px;
    background-color: #faa;
    z-index: 1;
}

#cake-cylinder {
    position: absolute;
    top: 5px;
    width: 20px;
    height: 40px;
    background: #faa;
}

#cake-candle-bottom {
    position: absolute;
    bottom: 0px;
    width: 18px;
    height: 10px;
    background-color: #faa;
    border-radius: 18px / 10px;
        -moz-border-radius: 18px / 10px;
    border-color: #faa #faa #f88 #faa;
    border-style: solid;
    border-width: 1px;
    z-index: 1;
}

#cake-cake {
    position: relative;
    margin: 0 auto;
    top: -20px;
    z-index: 7;
}

#cake-layer1 {
    position: relative;
    margin: 0 auto;
    width: 125px;
    height: 100px;
    z-index: 6;
}

#cake-layer2 {
    position: relative;
    margin: 0 auto;
    top: -40px;
    width: 200px;
    height: 130px;
    z-index: 5;
}

.cake-frosting {
    position: absolute;
    width: 101%;
    height: 25%;
    left: -1%;
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: #777;
    border-radius: 100% / 100%;
        -moz-border-radius: 100% / 100%;
        -webkit-border-radius: 100% / 100%;
    box-shadow: 0 2px 2px #bbb inset;
        -webkit-box-shadow: 0 2px 2px #bbb inset;
    z-index: 1;
}

.cake-patty {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 50%;
    background-color: #520;
}

.cake-bottom {
    position: absolute;
    top: 55%;
    width: 100%;
    height: 25%;
    background-color: #520;
    border-radius: 100% / 75%;
        -moz-border-radius: 100% / 75%;
        -webkit-border-radius: 100% / 75%;
    box-shadow: 1px 2px 1px #555;
        -webkit-box-shadow: 1px 2px 1px #555;
}
